.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 15px;
  .title {
    color: #ffba00;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    &::after {
      display: block;
      content: "";
      width: 150px;
      height: 1px;
      background-color: #ffba00;
      margin: auto;
      margin-top: 10px;
    }
  }
  p {
    font-weight: 400;
    text-align: left;
  }
  h2 {
    text-align: left
  }
  img {
    margin-bottom: -4px !important;
    max-width: 100%;
    height: auto;
  }
  em {
    display: block;
    background-color: #ffba00;
    color: #161616;
    padding: 10px;
  }
}